</main>
<footer>
    Tout droit réservé à l'<a id="artist" href="/robert">artiste</a>
</footer>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();

                const targetId = this.getAttribute('href');
                document.querySelector(targetId).scrollIntoView({
                    behavior: 'smooth'
                });
            });
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
      const modal = document.getElementById('myModal');
      const modalBtns = document.querySelectorAll('.openModalBtn');
      const span = document.getElementsByClassName('close')[0];
  
      modalBtns.forEach(btn => {
        btn.addEventListener('click', function () {
          modal.style.display = 'block';
        });
      });
  
      span.onclick = function () {
        modal.style.display = 'none';
      }
  
      window.onclick = function (event) {
        if (event.target === modal) {
          modal.style.display = 'none';
        }
      }
    });
  </script>


</body>

</html>