<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peintures</title>


</head>

<body>
    <header>
        <h1 class="title">Les toiles de Patricia</h1>
        <nav class="menu-navBar">
            <ul>
                <a href="/"><li>Accueil</li></a>
                <a href="/tableaux"><li>Tableaux</li></a>
                <a href="/contact"><li>Contactez-moi</li></a>
            </ul>
        </nav>
    </header>
    <main>