<!-- modal -->

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form action="/" method="update">
            <textarea name="description" id="description" cols="100" rows="20"><%= arrays.description %></textarea>
        </form>
    </div>
</div>